<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/layui/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../static/layui/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<form action="addCourse" method="post">
    <div class="layui-form layuimini-form">
        <div class="layui-form-item">
            <label class="layui-form-label">教师编号</label>
            <div class="layui-input-inline">
                <input type="text" name="username" lay-verify="username" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">教师姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="t_name" lay-verify="t_name" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input type="password" name="password" lay-verify="password" value="" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="男" title="男" checked="">
                <input type="radio" name="sex" value="女" title="女">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属院系</label>
            <div class="layui-input-inline">
                <input type="text" name="sCollege" lay-verify="sCollege" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属专业</label>
            <div class="layui-input-inline">
                <input type="text" name="sProfessional" lay-verify="sProfessional" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属班级</label>
            <div class="layui-input-inline">
                <input type="text" name="classId" lay-verify="classId" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button class="layui-btn" lay-filter="update" lay-submit="">确认修改</button>
        </div>
    </div>
    </div>
</form>
<script src="../static/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;

        //监听提交
        form.on('submit(update)', function (data) {
            var coursejson = JSON.stringify(data.field);
            var coursedata = JSON.parse(coursejson);
            if (coursedata.username == '') {
                layer.msg('教师编号不能为空');
                return false;
            }
            if (coursedata.t_name == '') {
                layer.msg('姓名不能为空');
                return false;
            }
            if (coursedata.password == '') {
                layer.msg('密码不能为空');
                return false;
            }
            if (coursedata.sCollege == '') {
                layer.msg('院系不能为空');
                return false;
            }
            if (coursedata.sProfessional == '') {
                layer.msg('专业不能为空');
                return false;
            }
            if (coursedata.classId == '') {
                layer.msg('班级不能为空');
                return false;
            }
            console.log(coursedata)
            $.ajax({
                type: "post",
                url: "updateStudent",
                data: data.field,
                dataType: "json",
                success: function (data) {
                    var msg1 = "修改成功！";
                    var msg2 = "修改失败！";
                    if (data.success) {
                        layer.alert(msg1.fontcolor("green"));
                        setTimeout(function () {
                            top.location.href = "index";
                        }, 2000)
                    } else {
                        layer.alert(msg2.fontcolor("red"));
                        setTimeout(function () {
                            location.href = "updateStudent"
                        }, 2000);
                    }
                }
            });
            return false;
        });

    });
</script>
</body>
</html>